/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
:root {
    --color-bg: rgb(0, 0, 0);
    --color-A: #26eb8f;
    --color-B: #1a4457;
    --color-text: #ffffff;
    --font: 'Josefin Sans', sans-serif;
}

body{
    margin: 0px;
    font-family: var(--font);
    background-color: var(--color-bg);
    background-image: url("assets/bg_right.png"), url("assets/bg_top.png");
    background-repeat: no-repeat, repeat-x;
    background-position: right top, left top;
}

#userPhoto{
    width: 96px;
    height: 96px;
}

.subtitle{
    display: block;
    color: var(--color-B);
    text-align: left;
    font-size: 20px;
    border: none;
    border-top: dotted var(--color-B) 4px;
    border-bottom: dotted var(--color-B) 4px;
    margin: 20px 0 20px 0;
    padding: 8px 0 8px 0;
}
.container{
    background-color: #000000bb;
    text-align: center;
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 15px;
}
.link{
    display: block;
    padding: 15px 15px 10px 15px;
    
    background-color: var(--color-bg);
    color: var(--color-text);
    text-align: right;
    
    text-decoration: none;
    font-size: 28px;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);

    border: solid var(--color-A) 2px;
    border-radius: 8px;

    margin-bottom: 15px;
}
.link:hover{
    color: var(--color-bg);
    background-color: var(--color-A);
}
